{% extends "AspirinaBundle::layout.html.twig" %}

{% block content %}
	<div class="row-fluid">
		<div class="well span4">
			<h1>Welcome</h1>
			<p>{{ app.user.username }} a new version of crf paper!!!</p>
		</div>
		<div class="well span4">
			<h2>Subject Total: {{ totalSubjects }}</h2>
		</div>
		<div class="well span4">
			<h2>Site Total: {{ totalSites }}</h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="well span4">
			<h2>DCF Total: {{ totalDcfs }}</h2>
                        <!--Load the AJAX API-->
                        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                        <script type="text/javascript">

                          // Load the Visualization API and the piechart package.
                          google.load('visualization', '1.0', {'packages':['corechart']});

                          // Set a callback to run when the Google Visualization API is loaded.
                          google.setOnLoadCallback(drawChart);

                          // Callback that creates and populates a data table,
                          // instantiates the pie chart, passes in the data and
                          // draws it.
                          function drawChart() {

                            // Create the data table.
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Topping');
                            data.addColumn('number', 'Slices');
                            data.addRows([
                              ['Dcfs Open', {{ openDcfs }}],
                              ['Dcfs Close', {{ closeDcfs }}]
                            ]);

                            // Set chart options
                            var options = {'backgroundColor': '#F5F5F5',
                                           'width':400,
                                           'height':300};

                            // Instantiate and draw our chart, passing in some options.
                            var chart = new google.visualization.PieChart(document.getElementById('chart_dcf'));
                            chart.draw(data, options);
                          }
                        </script>
                        <div id="chart_dcf"></div>
		</div>
	</div>
{% endblock %}