{% extends 'AspirinaBundle::layout.html.twig' %}

{% block content -%}
    <div class="page-header">
        <a class="btn btn-primary pull-right" href="{{ path('user_new') }}"><i class="icon-file"></i>Create a new entry</a>
        <h1>User list</h1>
    </div>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Active</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.active }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('user_show', { 'id': entity.id }) }}"  class="btn"><i class="icon-book"></i></a>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-pencil"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
