{% extends 'AspirinaBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <a class="btn btn-primary pull-right" href="{{ path('site_new') }}"><i class="icon-file"></i>Create a new entry</a>
        <h1>Site list</h1>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>Investigator</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('site_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.number }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.investigator }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('site_show', { 'id': entity.id }) }}"  class="btn"><i class="icon-book"></i></a>
                            <a href="{{ path('site_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-pencil"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
