{% extends 'AspirinaBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <a class="btn btn-primary pull-right" href="{{ path('visit_new') }}">
            <i class="icon-file"></i>
            Create a new entry
        </a>
        <h1>Visit list</h1>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Alias</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('visit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.alias }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('visit_show', { 'id': entity.id }) }}" class="btn"><i class="icon-book"></i></a>
                        <a href="{{ path('visit_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-pencil"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
