<h1>Dcf</h1>
<p>Site number: {{ entity.site.number }}</p>
<p>Site name: {{ entity.site.name }}</p>
<p>Subject initial: {{ entity.subject.initial }}</p>
<p>Visit: {{ entity.visit.title }}</p>
<p>Section: {{ entity.section.title }}</p>
<p>Type: {{ entity.type }}</p>
<p>Question: {{ entity.question }}</p>
<p>Comments: {{ entity.comments }}</p>