{% extends 'AspirinaBundle::layout.html.twig' %}

{% block content -%}
    <div class="page-header">
        <h1>Dcf</h1>
    </div>         

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Visit</th>
                <td>{{ entity.visit.getTitle() }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ entity.section.getTitle() }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.user.getUsername() }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ entity.question }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ entity.comments }}</td>
            </tr>
        </tbody>
    </table>

    <form action="{{ path('dcf_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger pull-right">Delete</button>
    </form>


    <div class="btn-group">
        <a href="{{ path('dcf') }}" class="btn">
            Back to the list
        </a>
        <a href="{{ path('dcf_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
    </div>
{% endblock %}
