{% extends 'AspirinaBundle::layout.html.twig' %}

{% block content -%}

<div class="page-header">
    <a class="btn btn-primary pull-right" href="{{ path('subject_new') }}"><i class="icon-file"></i>Create a new entry</a>
    <h1>Subject list</h1>
</div>
<div id="content-tabs">
    <table class="records_list table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Initial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('subject_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.initial }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('subject_show', { 'id': entity.id }) }}" class="btn"><i class="icon-book"></i></a>
                            <a href="{{ path('subject_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-pencil"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
